---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import desc from '../assets/desc-frame.png';
import descMobile from '../assets/desc-frame-mobile.png';
import utilityDesc from '../assets/utility-desc.png';
import utilityDescMobile from '../assets/utility-desc-mobile.png';
import coinflip from '../assets/coinflip.png';
import crash from '../assets/crash.png';
import dice from '../assets/dice.png';
import lotto from '../assets/lotto.png';
import raffle from '../assets/raffle.png';
import roulette from '../assets/roulette.png';
import rndm from '../assets/randomness.png';
import line1 from '../assets/line-1.png';
import line2 from '../assets/line-2.png';
import line3 from '../assets/line-7.png';
import bet from '../assets/bet-img.png';
import tg from '../assets/telegram-logo.png';
import tw from '../assets/twt-logo.png';
---

<Layout title="MeterBet" desc="Crypto betting platform">
	<div>	
		<Header />
		
		<main class="bg-wrapper h-[90vh] sm:h-[35rem]">
			<div class="pt-56 px-[4rem] sm:px-[1.7rem] sm:pt-40">
				<h1 class="rf text-7xl sm:text-4xl w-40">METER BET</h1>
				<p class="w-[27rem] sm:w-[19rem] pt-4 pb-6">Welcome to the #1 casino on Meter, Where you can play games like coin flip or Jackpot and win tokens or rare NFTs to add to your collection.</p>
				<a href="#" class="p-3 rounded-xl bg-purple-700 hover:text-purple-700 hover:bg-white transition-colors ease-in">Launch dApp</a>
			</div>
			
		</main>
		<section class="bg-[#180118] pt-10 pb-20">
			<div>
				<div class="pb-4 flex flex-col justify-center items-center gap-2">
					<h2 class="text-center text-3xl sm:text-xl font-bold">Immersive Gambling Experience</h2>
					<img src={line2} class="w-96 sm:w-72">
				</div>

				<div class="p-5 mb-20 sm:p-2 desc-wrapper w-[80%] sm:w-[90%] sm:h-[140%] rounded-xl flex flex-col items-start justify-around h-80 my-0 mx-auto">
					<p class="w-[27rem] sm:w-[15rem] sm:py-5">
						We are dedicated to providing a secure, fun, and provably fair gambling platform that players can trust and enjoy returning to, By leveraging the power, speed and scalability of the Meter Network, we will be able to offer innovative features and also enhance the immersive experience of traditional casino games with blockchain technology.
					</p>

					<img src={rndm} class="w-32 sm:w-28">
				</div>

			</div>

			<div class="pt-7">
				<div class="flex flex-col justify-center items-center gap-2 pb-4">
					<h2 class="text-center text-3xl sm:text-xl font-bold">Games (Coming soon)</h2>
					<img src={line1} class="w-96 sm:w-72">
				</div>

				<div class="flex items-center justify-center">
					<div class="grid grid-cols-3 sm:grid-cols-1 lg:gap-5 sm:gap-9">
					<img src={coinflip} alt="Coinflip" class="hover:scale-105 transition-colors ease-in cursor-pointer">
					<img src={raffle} alt="Lotto" class="hover:scale-105 transition-colors ease-in cursor-pointer">
					<img src={crash} alt="Crash" class="hover:scale-105 transition-colors ease-in cursor-pointer">
					<img src={dice} alt="Dice" class="hover:scale-105 transition-colors ease-in cursor-pointer">
					<img src={lotto} alt="Lotto" class="hover:scale-105 transition-colors ease-in cursor-pointer">
					<img src={roulette} alt="Roulette" class="hover:scale-105 transition-colors ease-in cursor-pointer">
				</div>
				</div>
			</div>

			<div>
				<div class="mt-40 flex items-center justify-center lg:pb-2 sm:pb-2">
					<img src={bet} class="w-80 sm:w-64">
				</div>

				<div class="p-5 sm:p-2 utility-desc w-[80%] sm:w-[90%] rounded-xl flex flex-col items-start justify-around h-80 my-0 mx-auto">
					<p class=" w-[27rem] sm:w-[13rem]">
						$Bet is our official utility token. By holding $Bet tokens, you become a part-owner of MeterBet, granting you access to perks like rev, share and other exciting features we have in store.
					</p>
					
					<a href="#" class="p-3 rounded-xl bg-purple-700 hover:text-purple-700 hover:bg-white transition-colors ease-in">Presale (Soon)</a>
				</div>
			</div>

			<footer class="mt-16 flex items-center justify-center gap-3">
				<div class="flex flex-col justify-center items-center ">
					<h3 class="text-center text-3xl font-semibold">Let's roll</h3>
					<img src={line3} class="w-50">
				</div>

				<a href="#">
					<img src={tg} class="hover:scale-105 transition-colors ease-in cursor-pointer">
				</a>

				<a href="#">
					<img src={tw} class="hover:scale-105 transition-colors ease-in cursor-pointer">
				</a>
			</footer>
		</section>
	</div>
</Layout>
